@use 'variables' as *;

// ** General **

.container {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.text-center {
  text-align: center;
}

.tag {
  font-weight: 900;
  color: #3f6212;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 1rem 0;
}

// ** Headings

.heading-primary {
  font-size: clamp(2.6rem, 6vw, $font-heading-primary);
  font-weight: 900;
  line-height: 1.05;
  letter-spacing: clamp(-0.075em, 1vw, -0.55em);
}

.heading-secondary {
  font-size: clamp(2.2rem, 4.5vw, $font-heading-secondary);
  font-weight: 900;
  line-height: 1.05;
  letter-spacing: -1.5px;
  padding-bottom: 1.5em;
}

.heading-tertiary {
  font-size: clamp(1.5rem, 2.3vw, $font-heading-tertiary);
  font-weight: 900;
  line-height: 1.05;
  padding-bottom: 0.5em;
}

.heading-quaternary {
  font-size: clamp(1.25rem, 2vw, $font-heading-quaternary);
  font-weight: 700;
  line-height: 1.05;
  padding-bottom: 0.5em;
}

// ** BUTTONS **

.btn,
.btn:link,
.btn:visited {
  font-size: inherit;
  display: inline-block;
  border-radius: 9px;
  font-weight: 700;
  border: 1.2px solid transparent;
  transition: all 0.4s;
  cursor: pointer;
  padding: 0.5em 1em;
}

.btn--primary {
  background-color: $color-primary;
}

.btn--secondary {
  background-color: $color-background-secondary;
}

.btn--outline {
  color: $color-grey;
  background-color: $color-background-secondary;
}

.btn--outline-secondary {
  color: $color-grey;
  background-color: $color-background-primary;
}

.btn--orange {
  color: $color-grey;
  background-color: $color-accent;
}

.btn--primary:hover {
  background-color: #4d7c0f;
  color: #fff;
}

.btn--secondary:hover,
.btn--outline:hover,
.btn--outline-secondary:hover {
  background-color: $color-background-primary;
  border: 1.2px solid #4b5563;
}

.btn--orange:hover {
  border: 1.2px solid #4b5563;
}

// ** Dialog/Modal window

dialog {
  border: none;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
  width: 100%;
  max-width: 35rem;
  margin: auto;
  background-color: rgba(253, 253, 253);
  padding: 1.2rem 0;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px);
}

// ** Spinner **

@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}

// ** Button Slider

.switch-button {
  background: $color-background-secondary;
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: $color-grey;
  position: relative;
  padding-right: 120px;
  position: relative;
}
.switch-button:before {
  content: 'Imperial';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 5px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: '';
  background: $color-primary;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

// ** Slider change Unit

.details__switch-button {
  background: $color-background-secondary;
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: $color-grey;
  position: relative;
  padding-right: 120px;
  position: relative;
}
.details__switch-button:before {
  content: 'US';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.details__switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.details__switch-button-checkbox:checked
  + .details__switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.details__switch-button-checkbox + .details__switch-button-label {
  position: relative;
  padding: 5px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.details__switch-button-checkbox + .details__switch-button-label:before {
  content: '';
  background: $color-primary;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.details__switch-button-checkbox
  + .details__switch-button-label
  .details__switch-button-label-span {
  position: relative;
}

// ** SELECT

select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;
  line-height: 1.5em;
  border-radius: 4px;
  display: inline-block;
  padding: 0.5em 3.5em 0.5em 1em;
}

select.num-meals {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.num-meals:focus {
  background-image: linear-gradient(45deg, $color-primary 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, $color-primary 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: $color-primary;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
