@use 'variables' as *;

.details {
  font-size: 1rem;
  padding: 1.5em;

  &__icon {
    color: $color-accent-dark;
  }

  &__icon:nth-child(2) {
    margin-left: -7px;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2em;
  }

  &__secondary {
    margin-top: 3.5em;
  }

  &__image {
    width: 100%;
    border-radius: 9px;
  }

  &__servings {
    display: flex;
    gap: 0.7rem;
    align-items: center;
  }

  &__cooktime {
    display: flex;
    gap: 0.7rem;
    align-items: center;
  }

  &__ingredient,
  &__nutrients-item {
    display: flex;
    gap: 0.2rem;
  }

  &__ingredient > * {
    flex-basis: 100%;
  }

  &__nutrients {
    --flow-space: 2em;
  }

  &__nutrients-item > * {
    flex-basis: 36%;
  }
}

.btn--update-servings {
  padding: 0.2em;
}

.push-right {
  margin-left: auto;
}
