@use 'variables' as *;

.diet-container {
  padding: 2em 0;
  background-color: $color-background-primary;
}

.diet {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 5em;

  &__icon {
    color: $color-primary;
    width: 32px;
    height: 32px;
    font-size: 2rem;
  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__calculate {
    margin-top: 3em;
  }
}

// toggle class when selecting a diet
.diet--selected > button {
  background-color: $color-accent-dark;
}

.diet--error {
  color: rgb(233, 1, 1);
  font-weight: 700;
}

.cta-spinner {
  position: relative;
}
