@use 'variables' as *;

.diet-container > h4:nth-of-type(2) {
  margin-top: $space-3;
}

.diet__icon {
  color: #65a30d;
  font-size: 4.4rem;
  margin-bottom: 4rem;
}

.diet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.diet__all,
.diet__vegetarian,
.diet__vegan,
.diet__gluten-free {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diet__amountmeals {
  display: flex;
  margin-top: $space-0;
}

// toggle class when selecting a diet
.diet--selected {
  background-color: $color-accent;
  border-radius: 60%;
}
