@use 'variables' as *;

dialog {
  border: none;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
  max-width: 50rem;
  margin: 15vh auto;
  background-color: rgba(253, 253, 253);
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
}

.form {
  &__description {
    font-weight: 700;
    font-size: $font-heading-tertiary;
    line-height: 1.05;
    margin-bottom: 4.8rem;
  }

  &__label {
    display: block;
    font-weight: 700;
    font-size: $font-text-tiny;
    margin-bottom: 0.4rem;
  }

  &__field {
    min-height: 5rem;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    padding: 1.2rem;
    background-color: $color-accent;
    border: none;
    border-radius: 4px;
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__close {
    padding: 1.2rem;
  }

  &__units {
    margin-bottom: 3.2rem;
  }

  // spacing for inch input
  &__height-container {
    display: flex;
    gap: 1.2rem;
  }

  &__age,
  &__height,
  &__weight,
  &__gender,
  &__activity,
  &__goal {
    margin: 0 2.4rem;
    margin-bottom: 1.6rem;
  }

  &__error {
    margin-bottom: 3.2rem;
    font-size: $font-text-small;
    font-weight: 700;
    color: rgb(233, 1, 1);
  }
}
