@use 'variables' as *;

.section-hero {
  background: $color-background-primary;
  padding-top: $section-gap;
}

.hero {
  &__customers img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: -1.6rem;
    border: 2px solid #fff;

    &:first-child {
      margin-left: 0;
      border-left: none;
    }

    &:nth-last-child(2) {
      border-right: none;
    }
  }

  &__icon {
    vertical-align: top;
    margin-right: 8px;
    width: 29px;
    height: 28px;
  }

  &__buttons > *,
  &__icons > * {
    margin-top: 0.2em;
  }

  &__customers {
    --flow-space: 3em;
  }

  &__icons {
    --flow-space: 6em;
  }
}
