@use 'variables' as *;

// Styling the wrapper

.meals-wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
}

// Styling meals container

#meals-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-meals {
  background: $color-background-secondary;
  padding: $space-3;
}

.meal {
  gap: 15px;

  &__image-container {
    width: 15%;
  }

  &__image {
    display: block;
    max-width: 100%;
    border-radius: 15%;
  }

  &__title {
    font-size: $font-text-tiny;
  }

  &__heading {
    font-size: $font-text-tiny;
  }

  &__calories {
    font-size: $font-text-tiny;
    color: $color-grey-light;
  }
}
