@use 'variables' as *;
@use 'components' as *;

.statistics {
  background: $color-background-primary;
  padding: $section-gap 0;

  &__img-box {
    max-width: 30rem;
  }

  &__content {
    margin-top: 2.5em;
  }
}

.cta {
  display: flex;
  gap: 1rem;

  &__button {
    align-self: flex-end;
  }
}
