@use 'variables' as *;
@use 'components' as *;

.section-how {
  padding: $space-3;
  background-color: $color-background-secondary;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 900;
  color: $color-grey-light;
}
