@use 'variables' as *;
@use 'components' as *;

.section-how {
  padding: 6rem;
  background-color: $color-background-secondary;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.6rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 900;
  color: $color-grey-light;
}
