@use 'variables' as *;
@use 'components' as *;

.step {
  background-color: $color-background-secondary;
  padding: $section-gap 0;

  &__number {
    font-size: 4.5rem;
    font-weight: 900;
    color: $color-grey-light;
  }

  &__description {
    margin-top: 1em;
    color: $color-grey-light;
  }

  &__content {
    --flow-space: 2em;
  }
}
