// ** General **

.hidden {
  display: none;
}

// ** Flexbox **

.flex-container {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

// ** Grid **

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
