// ** Font sizes **

$font-heading-primary: 4.5rem;
$font-heading-secondary: 3.5rem;
$font-heading-tertiary: 2.2rem;
$font-heading-quaternary: 2rem;

$section-gap: 5em;

// ** Colors **

$color-primary: #65a30d;
$color-accent: #ffedd5;
$color-accent-dark: #fdba74;

$color-background-primary: #f7fee7;
$color-background-secondary: #dee5d0;

$color-grey: #312f2e;
$color-grey-light: #989797;
